{
    "extends": "react-app",
    "rules": {
        "quotes": [
            "warn",
            "single"
        ],
        "no-unused-vars": "warn"
    },
    "globals": {
        "Raven": true
    }
}
